/* ELEMENTS */

a {
    color: white;
}

a:hover {
    color: lightgrey;
}

div {
    padding: 1em;
    max-width: 100%
}

footer {
    background: #1DB954;
    border: 0.25em solid #1DB954;
    border-radius: 1em;
    font: 1.5em Helvetica;
    padding: 0.75em;
    text-align: center;  
}

footer:hover {
    border: 0.25em solid white;
}

/* HOME PAGE (by William) */

.first {
    background: #1DB954;
    font: 2em Helvetica;
    text-align: center;
}

.outerBox {
    height: 3em;
    border: 0.25em solid #317843;
    border-radius: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    background: black;
}

.innerBox {
    border: 0.125em solid #317843;
    border-radius: 1em;
    padding: 1em;
    width: 15em;

    background: #1DB954;
}

.mainTitle {
    color: white;
    font-weight: bold;
    font-style: italic;
}

.nav-links {
  margin-left: 1.25rem;
  text-decoration: none;
  transition: all 0.25s ease-out;
}

/* FEATURES PAGE (by Cameron) */

.features {
    background: #212121;
    color: white;
    padding: 1em;
}

.featuresHead {
    background: #1DB954;
    border: 0.5em solid #1DB954;
    border-radius: 1.5em;
    font: 1.5em Helvetica;
    text-align: center;
}

.featuresHead:hover {
    border: 0.5em solid white;
}

.featuresHeadText {
    background: #1DB954;
    color: white;
}

.featureSettings {
    display: flex;
    justify-content: space-between;
}

.radioDiv {
    background: rgb(72, 72, 72);
    border-radius: 1em;
    font: 1.25em Helvetica;
}

.radioDiv:hover {
    background:grey;
}

.radDivMid {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.checkOrRadio {
    accent-color: #1DB954;
}

/* default rules for .belowSettings */
.belowSettings {
    display: flex;
    justify-content: space-between;
}

/* for narrow screens */
@media (max-width: 550px) {
    .radioDiv {
        font-size: 1em;
        width: 5em;
    }
}

/* also for narrow screens */
@media (max-width: 700px) {
    .h2settings {
        font-size: 1em;
    }

    .dateButton {
        width: 50%;
    }

    .settingsLabel {
        font-size: 0.75em;
    }

    .bodyList {
        text-align: left;
        font-size: 0.75em;
    }

    li span {
        position: relative;
        left: -5px;
    }
}

.options {
    background: rgb(72, 72, 72);
    border: 0.5em solid rgb(72, 72, 72);
    border-radius: 1em;
    font: 1.25em Helvetica;
    text-align: center;
    width: 20%;

    margin-right: 0.75em;
}

.options:hover {
    border: 0.5em solid #1DB954;
}

.settingsDiv {
    text-align: left;
}

.body {
    background: rgb(72, 72, 72);
    border: 0.5em solid rgb(72, 72, 72);
    border-radius: 1em;
    font: 1.25em Helvetica;
    text-align: center;
    width: 70%;
}

.body:hover {
    border: 0.5em solid #1DB954;
}

.bodyList {
    color: white;
    list-style-position: inside;
}

.belowOptions {
    display: flex;
    justify-content: center;
}

.fileManagement {
    background: rgb(72, 72, 72);
    border: 0.5em solid rgb(72, 72, 72);
    border-radius: 1em;
    font: 1.25em Helvetica;
    text-align: center;
    width: 90%;
}

.fileManagement:hover {
    border: 0.5em solid #1DB954;
}

.fileButtons {
    display: flex;
    justify-content: space-evenly;
}