/* NONSENSE vvv */

.first {
    background: #1DB954;
    font: 2em Helvetica;
    text-align: center;
}

div {
    padding: 1em;
    max-width: 100%
}

.outerBox {
    height: 3em;
    border: 0.25em solid #317843;
    border-radius: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    background: black;
}

.innerBox {
    border: 0.125em solid #317843;
    border-radius: 1em;
    padding: 1em;
    width: 15em;

    background: #1DB954;
}

.mainTitle {
    color: white;
    font-weight: bold;
    font-style: italic;
}

.homeLink {
    color: white;
}

a {
    color: white;
}

a:hover {
    color: lightgrey;
}

/* this is a comment */
h1 {
    font-family: 'Helvetica';
    color: white;
    background-color: #333
}

p {
    color: purple;
    font-style: italic;
    border: 3px dashed red;
}

img {
    max-width: 300px;
}

.highlightedNoCap {
    background-color: yellow;
}

.fard {
    color: green;
}

/* inherited property values */
/* note... "if a rule explicitly specifies a property's value, that value will be used... 
instead of any INHERITED value */
/* styling classes are not inherited */
/* class selectors are considered more specific than type selectors, priority */

footer {
    background-color: green;
}

/* NONSENSE ^^^ */

/* features */

.features {
    background: #212121;
    color: white;
    padding: 1em;
}

.featuresHead {
    background: #1DB954;
    border: 0.5em solid #1DB954;
    border-radius: 1.5em;
    font: 1.5em Helvetica;
    text-align: center;
}

.featuresHead:hover {
    border: 0.5em solid white;
}

.featuresHeadText {
    background: #1DB954;
    color: white;
}

.checkOrRadio {
    accent-color: #1DB954;
}

.featureSettings2 {
    display: flex;
    justify-content: space-evenly;
}

.radioDiv {
    background: rgb(72, 72, 72);
    border-radius: 1em;
    font: 1.25em Helvetica;
}

.radioDiv:hover {
    background:grey;
}

.options {
    background: rgb(72, 72, 72);
    border-radius: 1em;
    font: 1.25em Helvetica;
    text-align: center;
    width: 20%;
}

.body {
    background: rgb(72, 72, 72);
    border: 0.5em solid rgb(72, 72, 72);
    border-radius: 1em;
    font: 1.25em Helvetica;
    text-align: center;
    width: 70%;
}

.body:hover {
    border: 0.5em solid #1DB954;
}

.settingsDiv {
    text-align: left;
}

.belowSettings {
    display: flex;
    justify-content: space-between;
}

.options {
    border: 0.5em solid rgb(72, 72, 72);
}

.options:hover {
    border: 0.5em solid #1DB954;
}

.bodyList {
    color: white;
    list-style-position: inside;
}

.belowOptions {
    display: flex;
    justify-content: center;
}

.fileManagement {
    background: rgb(72, 72, 72);
    border: 0.5em solid rgb(72, 72, 72);
    border-radius: 1em;
    font: 1.25em Helvetica;
    text-align: center;
    width: 90%;
}

.fileManagement:hover {
    border: 0.5em solid #1DB954;
}

.fileButtons {
    display: flex;
    justify-content: space-evenly;
}

footer {
    background: #1DB954;
    border: 0.25em solid #1DB954;
    border-radius: 1em;
    font: 1.5em Helvetica;
    padding: 0.75em;
    text-align: center;  
}

footer:hover {
    border: 0.25em solid white;
}